body {
    width: 100%;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    background-color: rgb(48, 48, 48);
    color: white;
    flex-direction: column;
    align-items: center;
    margin: 0px;

}


header{
 width: 100%;
 background-color: black;
 display: flex;
}

header > h2 {
    color: white;
    margin-left: 15%;
    font-size: 32px;
}

header > ul {
    margin-left: auto;
    margin-right: 15%;
    display: flex;
    gap: 12px;
    align-items: center;
}

.navbar > li > a {
    color: white;
    font-size: 24px;
}

.bandmembers {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-width: 20px;
    border-radius: 20px;
    border-color: yellow;
}
.topcontent {
    display: flex;
    width: 70%;
    margin-top: 72px;
    margin-bottom: 72px;
    align-items: center;
    justify-content: space-between;
    gap: 5%;
}

.topcontent > .desc {
    display: flex;
    flex-direction: column;
}

.desc > .opt-in {
    width: 20%;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    border-color: black;
    border: 5px;
    background-color: yellow;
}

.information {
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.information > .cast {
    display: flex;
}

.quote {
    margin: 100px;
}

.calltoaction {
    margin: 100px;
}
footer {
  margin-top: auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}